.container {
    background-color: rgb(255, 255, 255);
    width: 30%;
    margin-top: 100px;
    position: relative;
    text-align: center;
    border-radius: 30px;
}

.inputs {
    width: 50%;
}

@media (max-width: 770px) {
    .container {
        width: 100%;
    }
}

.button {
    width: 30%;
    background-color: rgb(218, 216, 216) !important;
    margin-top: 25px !important;
    color: black;
}

.info {
    width: 500px;
    margin: auto;
    margin-top: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}