@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.container {
    background-color: rgb(255, 255, 255);
    width: 30%;
    margin-top: 100px;
    position: relative;
    text-align: center;
    border-radius: 30px;
}

.inputs {
    width: 50%;
}

@media (max-width: 770px) {
    .container {
        width: 100%;
    }
}

.button {
    width: 30%;
    background-color: rgba(0,255,0,0.5) !important;
    margin-top: 25px !important;
    color: black !important;
    font-size: 18px !important;
    font-family: 'Manrope', sans-serif !important;
    font-weight: bold !important;
}

.info {
    width: 500px;
    margin: auto;
    margin-top: 20px;
}

.messages {
    font-family: 'Manrope', sans-serif;
    width: 90%;
}